* {
  box-sizing: border-box;
  background: #000c36;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
}

.popcorn-img {
  width: 100px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-top: 50px;
  display: block;
  margin: 50px auto 20px;
}

.title {
  font-family: 'Carter One', cursive;
  font-size: 45px;
  font-weight: 400;
  line-height: 69.3px;
  text-align: left;
  color: #ffffff;
}

.movie-form {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #ffffff;
}

.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #3b4877;
  color: #05060c;
}

.submit-btn {
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 39.57px;
  text-align: center;
  width: 325px;
  height: 71px;
  top: 713px;
  left: 34px;
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
  opacity: 0px;
  background: #51e08a;
  color: #000c36;
}

.movie-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #f0f0f0;
}

.movie-card h2 {
  margin: 0 0 10px;
  font-family: 'Carter One', system-ui;
  color: #f0f0f0;
}

.movie-card p {
  margin: 0;
  color: #f0f0f0;
}

.movie-image {
  width: 20%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.recommendations {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
